/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background: #055c61;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  

  
  .logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(247, 247, 247);
    text-transform: uppercase;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 5px;
  }
  
  .nav-links a:hover {
    background-color: rgb(139, 226, 217);
    color: #000000;
    font-weight: bolder;
  }
  
  /* Hamburger menu */
  .hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
   
  header {
    position: fixed; /* keep it fixed on scroll */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #252525;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 21px;
    z-index: 100;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 0 0 12px 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateX(-50%);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {

    color:  rgb(73, 243, 235);
    padding: 8px 10px;
    font-size: 14px;
  }
  }


  body {
    font-family: sans-serif;
    background-color: #f9f9f9;
  }
  form {
    max-width: 1000px;
    margin: auto;
    background: rgba(4, 110, 84, 0.527);
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
  }
  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  button {
    padding: 10px 20px;
    background: royalblue;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  

  input, button, select {
    outline: none;
  }

  input:focus, button:focus, select:focus {
    box-shadow: inset 0px 0px 0px 1px blue;
  }


